.menu
   .menu__hamburger
      button.hamburger.hamburger--stand(type="button"
            aria-label="Menu" aria-controls="navigation")
         span.hamburger__box
            span.hamburger__inner

include _Nav.pug