- var links = ['All', 'Branding', 'Web', 'Photography', 'App'];

nav#navigation.nav
   each link in links
      if link == 'All'
         .nav__item.js-navItem.is-active
            a(href="#", data-name=link)=link
      else
         .nav__item.js-navItem
            a(href="#", data-name=link)=link