.search
   button#searchBtn.search__button
      svg(viewBox="0 -5 25 35")
         g 
            path(class="cls-1" d="M16.14,14.91a9.4,9.4,0,1,0-.92.94l5,5,.93-.93Zm-7,2A7.79,7.79,0,1,1,16.9,9.11,7.8,7.8,0,0,1,9.11,16.9Z")
.search__form.js-search
   .search__form--container
      form#searchForm
         input#searchInput(type="text", name="search", placeholder="Search...", required)
         button.search__button--input Search