footer.footer
   span  
      |  ©2016 - 
      span  Sneak 
      |  All Right Reserved
   .social__container
      .social__item
         a(href="https://www.facebook.com/") 
            include social/_Facebook.pug
      .social__item
         a(href="https://twitter.com/") 
            include social/_Twitter.pug
      .social__item
         a(href="https://dribbble.com/") 
            include social/_Dribble.pug
      .social__item
         a(href="https://plus.google.com/") 
            include social/_Google.pug
      .social__item
         a(href="https://www.youtube.com/") 
            include social/_YouTube.pug