section.hero
   .hero__container
      h1 EXPLORE BEYOND HORIZON
      P Magna mundi referrentur quo, no rebum dignissim qui. Per quodsi accusata id, agam labores.
      a#heroBtn(href="#").button.button--secondary VIEW OUR WORK 