extends ../base/_Layout.pug

block headerContent
   include components/_Header.pug

block mainContent
   main.main
      include components/_Hero.pug
      include components/_Grid.pug
      include components/_Footer.pug
