@keyframes slide-left {
   from{
      left: 0;
   }to{
      left: 50%;
      opacity: 0;
   }
}

@keyframes slide-right {
   from{
      left: 50%;
      opacity: 0;
   }to{
      left: 0;
      opacity: 1;
   }
}