/*!
 * #KeyFrames
 */
@keyframes slide-left {
   from{
      left: 0;
   }to{
      left: 50%;
      opacity: 0;
   }
}

@keyframes slide-right {
   from{
      left: 50%;
      opacity: 0;
   }to{
      left: 0;
      opacity: 1;
   }
}

@keyframes fade-in {
   from{
      opacity: 0;
   }to{
      opacity: 1;
   }
}