.button{
   display: flex;
   justify-content: center;
   align-items: center;
   color: inherit;
   height: 2rem;
   text-decoration: none;
   width: 100%;

   &--secondary{
      background-color: #FFF;
      color: $c-primary;
   }
}