/*
   #BUTTONS
*/
/// File: ../settings/_mixin.settings

.button{
   @include flexCenter;
   border: none;
   color: inherit;
   cursor: pointer;
   font-size: .8rem;
   height: 2rem;
   letter-spacing: .1rem;
   outline: none;
   text-decoration: none;
   width: 100%;

   &--primary{
      @include buttonModifier($c-primary, rgba(0, 0, 0, 0.267), #FFF);
   }

   &--secondary{
      @include buttonModifier(#FFF, $c-primary, $c-primary);
   }

   &:hover,
   &:active{
      box-shadow: none;
   }
}