/*
   #GRID-LAYOUT
*/

.grid{
   &-layout{
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      &__container{
         // grid-template-rows: 15rem;
         display: grid;
         gap: 1rem;
         grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
         margin: 1rem 0 2rem;
         max-width: 800px;
         width: 90%;
      }

      &__item{
         height: 100%;
         width: 100%;

         img{
            display: block;
            height: 100%;
            object-fit: cover;
            width: 100%;
         }

         &--main{
            align-items: center;
            background-color: rgba($color: $c-primary, $alpha: .9) ;
            color: #FFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 15rem;
            text-align: center;

            h2{
               margin-bottom: 1rem;

               &::after{
                  background-color: #FFF;
                  content: "";
                  display: block;
                  height: 2px;
                  width: 80%;
               }
            }
         }
      }

      .button{
         width: 170px;
      }
   }
}