-var links = ['All', 'Branding', 'Web', 'Photography', 'App'];

section.grid-nav
   .grid-nav__container
      each link in links
         if link == 'All'
            .grid-nav__item.js-navItem.is-active
               a(href='#', data-name=link)=link
         else
            .grid-nav__item.js-navItem
               a(href='#', data-name=link)=link