svg(viewBox="0 0 34.53 34.82")
   g
      polygon(class="cls-1" points="17.22 1.47 1.32 28.21 33.21 28.21 17.22 1.47")
      polygon(class="cls-2" points="17.15 13.26 7.13 5.72 7.13 27.46 17.15 19.92 27.18 27.46 27.18 5.72 17.15 13.26")
      polygon(class="cls-3" points="1.63 9.08 32.81 9.08 17.27 34.82 1.63 9.08")